<div class="container">
  <header class="blog-header lh-1 py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col text-center">
        <a class="blog-header-logo text-dark text-decor-none" href="#">Saraswati Shiksha Niketan</a>
      </div>
    </div>
  </header>

  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 link-secondary text-decor-none" href="#">Home</a>
      <a class="p-2 link-secondary text-decor-none" href="#">About Us</a>
      <a class="p-2 link-secondary text-decor-none" href="#">Highlights</a>
      <a class="p-2 link-secondary text-decor-none" (click)="scrollToFooter()">Contact</a>
    </nav>
  </div>
</div>