<main class="container">
  <div class="p-4 p-md-5 mb-4 rounded highlighted-info">
    <h2>About Our School</h2>
    <p><strong>An English medium school</strong> with over <strong>15 years of excellence in education</strong>, serving
      students from <strong>Kindergarten to Grade 10</strong>. Founded in <strong>2006</strong>, our school is dedicated
      to fostering holistic development, paying close attention to academics, sports, and extracurricular activities.
      Centrally located on the main road in Ara, Bhojpur, just a <strong>5-minute walk from the Ara Railway
        Station</strong>, we offer convenient <strong>transportation services</strong> to ensure easy access for all
      students.</p>

  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Education</strong>
          <h3 class="mb-0">Admissions</h3>
          <div class="mb-1 text-muted">Mar 1</div>
          <p class="card-text mb-auto">Admission is open for this session. Contact School for more details.</p>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img"
            aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Sports Day</title>
            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Admission
              Open</text>
          </svg>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Event</strong>
          <h3 class="mb-0">Republic Day</h3>
          <div class="mb-1 text-muted">Jan 26</div>
          <p class="mb-auto">Republic Day was celebrated in School Premises.
          </p>
          <!-- <a href="#" class="stretched-link">Continue reading</a> -->
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img"
            aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Republic
              Day</text>
          </svg>
        </div>
      </div>
    </div>
  </div>

</main>